[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gitpython = "*"
flask-restful = "*"
flask-swagger = "*"
flask-expects-json = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
coverage = "*"

[requires]
python_version = "3.8"
